@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

:root {
  --background-color: rgb(20, 20, 20);
  --text-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Ubuntu", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

a {
  font-size: 0.8rem;
  text-decoration: none;
  color: var(--link-color);
}

a:hover {
  text-decoration: underline;
}

li {
  list-style-type: none;
}

.bold {
  font-weight: 700;
}

.semibold {
  font-weight: 500;
}

.small {
  font-size: 0.75rem;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}
