nav {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5vw 4vw;
  font-size: 1.2vw;
  z-index: 1000;
  transition: all 0.5s;
}

.nav-dark {
  background-color: black;
}

.brand {
  width: 100px;
  height: auto;
}

.left {
  display: flex;
  align-items: center;
}

.nav-items {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 20px;
  margin-left: 2vw;
}

.nav-icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.small {
  display: none;
}

@media (max-width: 800px) {
  .nav-items {
    display: none !important;
  }

  .small {
    display: block;
    font-size: 2vw;
  }

  .hide {
    display: none;
  }
}
